@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--clr-accent: #002657;
		--clr-off: #555151;
		--clr-on: #cb4444;

		--side-bar-width: 200px;
		--side-bar-min-width: 100px;
		--ornament-color: cyan;
	}

	html,
	body {
		@apply overscroll-none;
	}

	body {
		@apply bg-neutral-800 font-bold text-neutral-50;
	}

	h1 {
		@apply my-4 text-5xl;
	}
	h2 {
		@apply my-4 text-4xl;
	}
	p {
		@apply my-4;
	}

	input {
		@apply focus:outline-none;
	}
	/* a {
		@apply my-4 inline-block bg-blue-500 p-4 hover:underline;
	} */
}

@layer components {
	.material-symbols-outlined {
		font-variation-settings:
			'FILL' 0,
			'wght' 400,
			'GRAD' 0,
			'opsz' 24;
	}
}
